
* {
    padding: 0;
    margin: 0;
}
.navbar-brand img {
    width: 160px;
}
.customNav {
    list-style: none;
    display: inline-block;

    margin: 0 8px;
    position: relative;
}
.customBtn {
    list-style: none;
    display: inline-block;

    margin: 0 8px;
    position: relative;
}
.customNav::after {
    content: '';
    transition: 0.25s;

    height: 3px;
    width: 0;

    background: rgb(255, 0, 0);
    position: absolute;

    left: 0;
    bottom: -2px;
}
.customNav:hover::after {
    width: 100%;
}
body {
    background-color: rgb(41, 0, 0);
}
p {color: white;}

.container-fluid {
    padding: 0;
}
#hero {height: 100vh;}

nav {margin-right: 21x; margin-left: 0px;}
nav button {margin-right: 15px;}
nav .nameNav, nav li {margin-left: 15px;}

.flexBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 18px;
    justify-content: center;
}
.alert a {
    color: lightslategrey;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.alert{
    border-radius: 20px;
    margin: 20px;
}
#info-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
}
.alert::after, .alert::before{
    content: '';
    position: absolute;
    height: 103.5%;
    width: 100.7%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}
.alert::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@media screen and (max-width: 600px) {
    nav ul {
        margin-left: -10%;
    }
    .alert {
        margin-top: 20%;
    }
    .hello {
        width: 20px;
        background-color: white;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        background: white;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-hello{
        visibility: visible;
        top: 60%;
        transform: translate(-50%, -50%) scale(1);
    }
    .btn2 {
        margin-top: 15px;
        height: 35px;
        max-width: 140px;
        border-radius: 6px;
        cursor: pointer;
        background: green;
    }
    .hi {
        margin-left: -70%;
    }
}
.home {
    background: transparent;
    border: 2px grey solid;
    padding: 3px;
    transition: 0.25s;
    border-radius: 2px;
}
.home:hover {
    border: 2px darkred solid;
    padding: 3px;
}
.hi {
    background: transparent;
    border: 2px grey solid;
    padding: 3px;
    transition: 0.25s;
    margin-right: -78%;
    border-radius: 2px;
}
.hi:hover {
    border: 2px green solid;
    padding: 3px;
}
.hello {
    width: 320px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    background: white;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-hello{
    visibility: visible;
    top: 40%;
    transform: translate(-50%, -50%) scale(1);
}
p {color: black;}
.btn2 {
    margin-top: 15px;
    height: 35px;
    width: 250px;
    border-radius: 6px;
    cursor: pointer;
    background: green;
    border: none;
    box-shadow: 2px 2px 5px 0 black;
}
.btn2:hover{
    border: solid black 2px;
}
.alert2 {
    background-color: rgba(78, 78, 78, 0.501);
    color: white;
    margin-top: 1%;
    text-align: center;
    padding-left: 1%;
    margin-right: 15px;
    margin-left: 15px;
    font-family: sans-serif;
    border-radius: 8px;
    border: 0.5px solid white;
    justify-content: center;
    align-items: center;
}
.alert1 {
    background-color: rgba(78, 78, 78, 0.501);
    color: white;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: sans-serif;
    border-radius: 8px;
    border: 0.5px solid white;
    padding-bottom: 10px;
}
.popup {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 6px;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    background-image: url(Assets/BD.jpg);
    visibility: hidden;
    transition: transform 0s, top 0.5s;
    margin: 0;
}
.open-popup{
    visibility: visible;
    top: 62%;
    transform: translate(-50%, -50%) scale(1);
}
.close-popup{
    visibility: hidden;
    top: 200%;
    transform: translate(-50%, -50%) scale(1);
}
html, body {
    overflow: hidden;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    background: black;
    animation: fadeOut 0.5s ease-out;
}
nav ul {margin-top: 12px;}