h1 {
    color: white;
}
.navbar-brand img {
    width: 40px;
}
.customNav {
    list-style: none;
    display: inline-block;

    margin: 0 8px;
    position: relative;
}
.customNav::after {
    content: '';
    transition: 0.5s;

    height: 3px;
    width: 0;

    background: rgb(255, 0, 0);
    position: absolute;

    left: 0;
    bottom: -2px;
}
.customNav:hover::after {
    width: 100%;
}
body {
    background-image: url(Assets/BD.jpg);
}
.alert-dark {
    background-color: rgba(78, 78, 78, 0.501);
}
.alert {
    color: white;
    margin-top: 1%;
    text-align: center;
}
a {
    color: aqua;
}
.popup {
    width: 400px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    background: white;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 60%;
    transform: translate(-50%, -50%) scale(1);
}
@media screen and (max-width: 800px){
    .popup {
        width: 200px;
        background-color: white;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        background: white;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-popup{
        visibility: visible;
        top: 55%;
        transform: translate(-50%, -50%) scale(1);
    }
    .btn2 {
        margin-top: 15px;
        height: 35px;
        max-width: 140px;
        border-radius: 6px;
        cursor: pointer;
        background: green;
    }
    h1 {
        font-size: 30px;
    }
    .open-popup img {
        max-width: 80%;
    }
    #btn2 {
        max-width: 80px;
        margin-left: 0%;
    }
    .flexBox {
        display: flex;
        flex-direction: column;
    }
    .card img {
        max-width: 100px;
    }
    .card {
        margin-bottom: 10px;
    }
    #comp {
        display: none;
    }
}
.btn2 {
    margin-top: 15px;
    height: 35px;
    width: 300px;
    border-radius: 6px;
    cursor: pointer;
    background: green;
    border: none;
    box-shadow: 2px 2px 5px 0 black;
}
.btn2:hover{
    border: solid black 2px;
}
#btn2 {
    margin-top: 5px;
    height: 35px;
    width: 150px;
    border-radius: 6px;
    cursor: pointer;
    background: green;
    border: none;
    color: white;
    box-shadow: 2px 2px 5px 0 black;
    margin-left: 90%;
}
#btn2:hover{
    border: solid black 2px;
}
.container-fluid h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    box-shadow: 8px 5px 5px 0 rgba(0, 0, 0, 0.496);
    background-color: rgb(224, 224, 224);
    align-items: center;
    margin-left: 20px;
}
.card img {
    width: 200px;
    border-radius: 4px;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #505050;
}
::-webkit-scrollbar-thumb {
    background: darkred;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 0, 0);
}


.logo {
    width: 200px;
}
#projects {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 850px){
    .flexBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}